VITE_apiKey=AIzaSyDZcStq2rioh2gHJIOkyRl6_YI51pX9-gs
VITE_authDomain=hostel-management-system-e6908.firebaseapp.com
VITE_projectId=hostel-management-system-e6908
VITE_storageBucket=hostel-management-system-e6908.firebasestorage.app
VITE_messagingSenderId=201070585201
VITE_appId=1:201070585201:web:1c79387e788d19fcac82d0
VITE_image_host_key=